<% provide(:title, 'Home') %>
<div class="row-fluid">
  <div class="span6">
    <h2>Last 10 SMS</h2>
    <p>Message : "Donec id elit non mi porta gravida at eget metus" <br> Sender : 4498441321321 Receiver : 45656654654456465454</p>
    <p>Message : "Donec id elit non mi porta gravida at eget metus" <br> Sender : 4498441321321 Receiver : 45656654654456465454</p>
    <p>Message : "Donec id elit non mi porta gravida at eget metus" <br> Sender : 4498441321321 Receiver : 45656654654456465454</p>
    <p>Message : "Donec id elit non mi porta gravida at eget metus" <br> Sender : 4498441321321 Receiver : 45656654654456465454</p>
    <p>Message : "Donec id elit non mi porta gravida at eget metus" <br> Sender : 4498441321321 Receiver : 45656654654456465454</p>
    <p>Message : "Donec id elit non mi porta gravida at eget metus" <br> Sender : 4498441321321 Receiver : 45656654654456465454</p>
    <p>Message : "Donec id elit non mi porta gravida at eget metus" <br> Sender : 4498441321321 Receiver : 45656654654456465454</p>
    <p>Message : "Donec id elit non mi porta gravida at eget metus" <br> Sender : 4498441321321 Receiver : 45656654654456465454</p>
    <p>Message : "Donec id elit non mi porta gravida at eget metus" <br> Sender : 4498441321321 Receiver : 45656654654456465454</p>
    <p>Message : "Donec id elit non mi porta gravida at eget metus" <br> Sender : 4498441321321 Receiver : 45656654654456465454</p>
    <p><a class="btn btn-link btn-large" href="./message.html">View all messages &raquo;</a></p>
  </div>
  <div class="span6">
    <h2>Graphic Last Month</h2>
    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <div class="row"><div class="span6">&nbsp;</div></div>
    <%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
  </div>
</div>

<div class="row"><div class="span6">&nbsp;</div></div>

<script src="js/jquery-1.10.1.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
    $(document).ready(function() { 
      var chart = new Highcharts.Chart({
        chart: {
          renderTo: 'container',
          type: 'line'
        },
        title: {
          text: 'Last Two Weeks Messages'
        },
        xAxis: {
          categories: []
        },
        yAxis: {
          title: {
            text: 'Number of messages'
          }
        },
        tooltip: {
          formatter: function() {
            return '<b>'+ this.series.name +'</b><br/>'+
            this.x +': '+ this.y +' messages';
          }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
            }
        },
        series: [{
          color: '#FF0000',
          name: 'Sent',
          data: [1,5,1,45,45,21,4,5,21,54,9,12,3,12,21]
        }]
      });
    });
</script>